*.suo
*.opensdf
*.sdf
*.pch
*.aps
*.user
*.cache
Win7Debug
Win7Release
Win8Debug
Win8Release
Win8.1Debug
Win8.1Release
Win32
x64
Debug
Release
ipch
bin
obj
*.exe
ReleasePS
*.zip
/dokan_wix/Bootstrapper/Redist
/*.opendb
/dokan_wix/msbuild.log
/dokan_fuse/CMakeFiles
/dokan_fuse/CMakeCache.txt
/dokan_fuse/cygdokanfuse1.dll
/dokan_fuse/libdokanfuse1.dll.a
/dokan_fuse/Makefile
/dokan_fuse/cmake_install.cmake
/samples/fuse_mirror/cygdokanfuse.dll
/dokan_vsix/ProjectTemplates/dokanfs
/dokan_fuse/libdokanfuse1.dll
/dokan.VC.db
/documentations/doc
