<?xml version="1.0" encoding="UTF-8"?>
<?include version.xml ?>

<?ifndef BuildCygwin ?>
<?define BuildCygwin="false" ?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:difx="http://schemas.microsoft.com/wix/DifxAppExtension">

  <Product Id="$(var.ProductCodeX64)"
           Name="$(var.ProductName) $(var.BaseVersion).$(var.BuildVersion) (x64)"
           Language="1033"
           Version="$(var.BaseVersion).$(var.BuildVersion)"
           Manufacturer="$(var.CompanyName)"
           UpgradeCode="$(var.UpgradeCodeX64)">

    <Package InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine"
             Platform="x64"
             InstallPrivileges="elevated"
             />

    <Icon Id="DokanIcon"
          SourceFile="Dokan.ico"
          />

    <Upgrade Id='$(var.UpgradeCodeX64)'>
      <UpgradeVersion
        OnlyDetect='no'
        Property='PREVIOUSFOUND'
        IgnoreRemoveFailure='no'
        Minimum='0.1.0' IncludeMinimum='yes'
        Maximum='$(var.BaseVersion)' IncludeMaximum='no'
      />
    </Upgrade>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                  AllowSameVersionUpgrades="yes"
                  DisallowUpgradeErrorMessage="A previous version of [ProductName] is already installed. Please uninstall the existing version first, reboot the system and start the setup again."
                  Disallow="yes"/>

    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="DokanIcon" />
    <Property Id="MSIUNINSTALLSUPERSEDEDCOMPONENTS" Value="1" />
    <Property Id="INSTALLDEVFILES" Value="0" />

    <Property Id="WIN7KB4474419INSTALLED" Secure="yes">
      <DirectorySearch Id="searchSystem4" Path="[SystemFolder]" Depth="0">
        <FileSearch Id="WINTRUST_FileSearch"
                    Name="wintrust.dll"
                    MinVersion="6.1.7601.24381"/>
      </DirectorySearch>
    </Property>

    <Property Id="REGINSTALLDIR" Secure="yes">
      <RegistrySearch Id="RegInstallDirSearch"
                      Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.ProductCodeX64)"
					  Name="AppLocation"
                      Type="directory"
                      Win64="yes" >
      </RegistrySearch>
    </Property>

    <Property Id="DOKANSYSALREADYINSTALLED" Secure="yes">
      <DirectorySearch Id="Dokan.sys" Path="[System64Folder]\drivers">
        <FileSearch Name="dokan$(var.MajorVersion).sys" />
      </DirectorySearch>
    </Property>

    <Property Id="DOKANREBOOTPENDING" Secure="yes">
      <RegistrySearch Id="RegDokanRebootSearch"
                      Root="HKLM" Key="SYSTEM\ControlSet001\Services\Dokan$(var.MajorVersion)"
					            Name="DeleteFlag"
                      Type="raw"
                      Win64="yes" >
      </RegistrySearch>
    </Property>

    <!--<Condition Message="Installation failed because another Dokan Library $(var.MajorVersion) is already installed."><![CDATA[Installed OR NOT DOKANSYSALREADYINSTALLED]]></Condition>-->

    <Condition Message="Installation failed because the 64-bit version of Dokan cannot be installed on a 32-bit version of Windows."><![CDATA[Installed OR VersionNT64]]></Condition>
    <Condition Message="Installation failed because your version of Windows is too old. Dokan requires Windows 7 SP1 or newer."><![CDATA[Installed OR VersionNT > 601 OR (VersionNT = 601 AND ServicePackLevel >= 1)]]></Condition>
    <Condition Message="Installation failed because Microsoft patch KB4474419 is not installed. A reboot is needed between the installation of said patch and the installation of [ProductName]. https://support.microsoft.com/en-us/kb/4474419"><![CDATA[Installed OR VersionNT > 601 OR (VersionNT = 601 AND WIN7KB4474419INSTALLED)]]></Condition>
    <Binary Id="SetupCA2" SourceFile="WiXCA\bin\$(var.Configuration)\WiXCA.dll"/>

    <CustomAction Id='CheckForRebootPending' Error="Installation failed because a Windows reboot is still pending after a Dokan driver uninstall." />

    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />

    <CustomAction Id="SetFolderValue"
                  Return="check"
                  Property="ExecuteInstallAction"
                  Value="INSTALLFOLDER=[INSTALLDIR]"
                  />

    <CustomAction Id="GetInstallDir"
                  Return="check"
                  Property="INSTALLDIR"
                  Value="[REGINSTALLDIR]"
                  />

    <CustomAction Id="ExecuteInstallAction"
                BinaryKey="SetupCA2"
                DllEntry="ExecuteInstall"
                Execute="deferred"
                Return="check"
                Impersonate="no"
                />

    <CustomAction Id="SetUninstallFolderValue"
                  Return="check"
                  Property="ExecuteUninstallAction"
                  Value="INSTALLFOLDER=[INSTALLDIR]"
                  />

    <CustomAction Id="ExecuteUninstallAction"
                BinaryKey="SetupCA2"
                DllEntry="ExecuteUninstall"
                Execute="deferred"
                Return="check"
                Impersonate="no"
                />

    <InstallExecuteSequence>

      <Custom Action='CheckForRebootPending' Before='LaunchConditions'>
        <![CDATA[DOKANREBOOTPENDING = "#1"]]>
      </Custom>

      <Custom Action='GetInstallDir' Before='CostFinalize'><![CDATA[REMOVE="ALL"]]></Custom>
      <Custom Action="SetFolderValue" Before="ExecuteInstallAction" />
      <Custom Action='ExecuteInstallAction' After="PublishProduct"><![CDATA[Not REMOVE="ALL"]]></Custom>
      <Custom Action="SetUninstallFolderValue" Before="ExecuteUninstallAction" />
      <Custom Action='ExecuteUninstallAction' Before="RemoveFiles"><![CDATA[REMOVE="ALL"]]></Custom>
      <Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>

    </InstallExecuteSequence>

    <Media Id="1" Cabinet="Dokan.cab" EmbedCab="yes"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="DOKANDIR" Name="Dokan">
          <Directory Id="INSTALLDIR" Name="DokanLibrary-$(var.BaseVersion)">
            <Component Id="ProgramFilesComponent" Win64="yes" Guid="{C2C81F15-C46C-4CE3-97BB-B782CB1E571C}">
              <Environment Id="DokanLibraryEnvPath" Name="DokanLibrary$(var.MajorVersion)" Value="[INSTALLDIR]" Permanent="no" Part="all" Action="set" System="yes" />
              <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\$(var.ProductCodeX64)" >
                <RegistryValue Type="string" Name="AppLocation" Value="[INSTALLDIR]" KeyPath="no" />
              </RegistryKey>
              <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\$(var.ProductCodeX64)" >
                <RegistryValue Type="string" Name="FullVersion" Value="$(var.BaseVersion).$(var.BuildVersion)" KeyPath="no"/>
              </RegistryKey>
              <File Id="DokanDLL" Source="..\x64\$(var.Configuration)\dokan$(var.MajorVersion).dll" Name="dokan$(var.MajorVersion).dll" KeyPath="no"/>
              <File Id="DokanfuseDLL" Source="..\x64\$(var.Configuration)\dokanfuse$(var.MajorVersion).dll" Name="dokanfuse$(var.MajorVersion).dll" KeyPath="no"/>
              <File Id="dokanctlEXE" Source="..\x64\$(var.Configuration)\dokanctl.exe" Name="dokanctl.exe" KeyPath="no"/>
              <File Id="READMEurl" Source="README.url" Name="README.url" KeyPath="no"/>
              <File Id="licenselgplTXT" Source="..\license.lgpl.txt" Name="license.lgpl.txt" KeyPath="no"/>
              <File Id="licensemitTXT" Source="..\license.mit.txt" Name="license.mit.txt" KeyPath="no"/>
              <RemoveFolder Id="RemoveINSTALLDIR" On="uninstall" />
            </Component>
            <Component Id="SysPDBFiles" Guid="{13A9BCAF-229C-468B-A48D-237A4147B823}">
              <File Id="DokanPDB" Source="..\x64\$(var.Configuration)\dokan$(var.MajorVersion).pdb" Name="dokan$(var.MajorVersion).pdb" KeyPath="yes"/>
              <File Id="DokanfusePDB" Source="..\x64\$(var.Configuration)\dokanfuse$(var.MajorVersion).pdb" Name="dokanfuse$(var.MajorVersion).pdb" KeyPath="no"/>
              <File Id="DokannpPDB" Source="..\x64\$(var.Configuration)\dokannp$(var.MajorVersion).pdb" Name="dokannp$(var.MajorVersion).pdb" KeyPath="no"/>
            </Component>
            <Directory Id="LIBDIR" Name="lib">
              <Component Id="LibFilesComponent" Win64="yes" Guid="{953AC0EA-3436-4FBD-8B9E-5960F09CEC34}">
                <Environment Id="DokanLibraryLibx64EnvPath" Name="DokanLibrary$(var.MajorVersion)_LibraryPath_x64" Value="[LIBDIR]" Permanent="no" Part="all" Action="set" System="yes" />
                <File Id="dokanLIB" Source="..\x64\$(var.Configuration)\dokan$(var.MajorVersion).lib" Name="dokan$(var.MajorVersion).lib" KeyPath="yes"/>
                <File Id="dokanfuseLIB" Source="..\x64\$(var.Configuration)\dokanfuse$(var.MajorVersion).lib" Name="dokanfuse$(var.MajorVersion).lib" KeyPath="no"/>
                <File Id="dokannpLIB" Source="..\x64\$(var.Configuration)\dokannp$(var.MajorVersion).lib" Name="dokannp$(var.MajorVersion).lib" KeyPath="no"/>
              </Component>
            </Directory>
            <Directory Id="X86PROGRAMSDIR" Name="x86">
              <Component Id="X86PROGRAMFiles" Guid="{06BABF92-9EE8-4968-8D92-2D0835B90863}">
                <File Id="X86DokanDLL" Source="..\Win32\$(var.Configuration)\dokan$(var.MajorVersion).dll" Name="dokan$(var.MajorVersion).dll" KeyPath="yes"/>
                <File Id="X86DokanFuseDLL" Source="..\Win32\$(var.Configuration)\dokanfuse$(var.MajorVersion).dll" Name="dokanfuse$(var.MajorVersion).dll" KeyPath="no"/>
                <File Id="X86dokanctlEXE" Source="..\Win32\$(var.Configuration)\dokanctl.exe" Name="dokanctl.exe" KeyPath="no"/>
              </Component>
              <Component Id="SysX86PDBFiles" Guid="{7C6B60E3-58E1-463C-B070-DC07E2BDE10C}">
                <File Id="DokanX86PDB" Source="..\Win32\$(var.Configuration)\dokan$(var.MajorVersion).pdb" Name="dokan$(var.MajorVersion).pdb" KeyPath="yes"/>
                <File Id="DokanfuseX86PDB" Source="..\Win32\$(var.Configuration)\dokanfuse$(var.MajorVersion).pdb" Name="dokanfuse$(var.MajorVersion).pdb" KeyPath="no"/>
                <File Id="DokannpX86PDB" Source="..\Win32\$(var.Configuration)\dokannp$(var.MajorVersion).pdb" Name="dokannp$(var.MajorVersion).pdb" KeyPath="no"/>
              </Component>
              <Directory Id="LIBX86DIR" Name="lib">
                <Component Id="LibX86FilesComponent" Guid="{C8EFA823-E8BB-4629-ACC6-0942D56790D2}">
                  <Environment Id="DokanLibraryLibx86EnvPath" Name="DokanLibrary$(var.MajorVersion)_LibraryPath_x86" Value="[LIBX86DIR]" Permanent="no" Part="all" Action="set" System="yes" />
                  <File Id="dokanX86LIB" Source="..\Win32\$(var.Configuration)\dokan$(var.MajorVersion).lib" Name="dokan$(var.MajorVersion).lib" KeyPath="yes"/>
                  <File Id="dokanfuseX86LIB" Source="..\Win32\$(var.Configuration)\dokanfuse$(var.MajorVersion).lib" Name="dokanfuse$(var.MajorVersion).lib" KeyPath="no"/>
                  <File Id="dokannpX86LIB" Source="..\Win32\$(var.Configuration)\dokannp$(var.MajorVersion).lib" Name="dokannp$(var.MajorVersion).lib" KeyPath="no"/>
                </Component>
              </Directory>
              <Directory Id="SAMPLEX86DIR" Name="sample">
                <Directory Id="MIRRORX86DIR" Name="mirror">
                  <Component Id="SampleMirrorFilesComponentX86" Win64="yes" Guid="{4C0E105A-9F20-4EF1-AC4E-705524A7155C}">
                    <File Id="mirrorEXEX86" Source="..\Win32\$(var.Configuration)\mirror.exe" Name="mirror.exe" KeyPath="yes"/>
                    <File Id="dokanMirrorDLLX86" Source="..\Win32\$(var.Configuration)\dokan$(var.MajorVersion).dll" Name="dokan$(var.MajorVersion).dll" KeyPath="no"/>
                    <File Id="dokan_mirrorX86vcxproj" Source="..\samples\dokan_mirror\dokan_mirror.vcxproj" Name="dokan_mirror.vcxproj" KeyPath="no"/>
                    <File Id="mirrorX86C" Source="..\samples\dokan_mirror\mirror.c" Name="mirror.c" KeyPath="no"/>
                  </Component>
                </Directory>
                <Directory Id="MEMFSX86DIR" Name="memfs">
                  <Component Id="SampleMemFSFilesComponentX86" Win64="yes" Guid="{187EF966-BE78-4F64-93C5-465B673A8929}">
                    <File Id="memfsX86EXE" Source="..\Win32\$(var.Configuration)\memfs.exe" Name="memfs.exe" KeyPath="yes"/>
                    <File Id="dokanMemFSX86DLL" Source="..\Win32\$(var.Configuration)\dokan$(var.MajorVersion).dll" Name="dokan$(var.MajorVersion).dll" KeyPath="no"/>
                    <File Id="dokan_memfsX86vcxproj" Source="..\samples\dokan_memfs\dokan_memfs.vcxproj" Name="dokan_memfs.vcxproj" KeyPath="no"/>
                    <File Id="filenodeX86CPP" Source="..\samples\dokan_memfs\filenode.cpp" Name="filenode.cpp" KeyPath="no"/>
                    <File Id="filenodeX86H" Source="..\samples\dokan_memfs\filenode.h" Name="filenode.h" KeyPath="no"/>
                    <File Id="filenodesX86CPP" Source="..\samples\dokan_memfs\filenodes.cpp" Name="filenodes.cpp" KeyPath="no"/>
                    <File Id="filenodesX86H" Source="..\samples\dokan_memfs\filenodes.h" Name="filenodes.h" KeyPath="no"/>
                    <File Id="mainX86CPP" Source="..\samples\dokan_memfs\main.cpp" Name="main.cpp" KeyPath="no"/>
                    <File Id="memfsX86CPP" Source="..\samples\dokan_memfs\memfs.cpp" Name="memfs.cpp" KeyPath="no"/>
                    <File Id="memfsX86H" Source="..\samples\dokan_memfs\memfs.h" Name="memfs.h" KeyPath="no"/>
                    <File Id="memfs_helperX86H" Source="..\samples\dokan_memfs\memfs_helper.h" Name="memfs_helper.h" KeyPath="no"/>
                    <File Id="memfs_operationsX86CPP" Source="..\samples\dokan_memfs\memfs_operations.cpp" Name="memfs_operations.cpp" KeyPath="no"/>
                    <File Id="memfs_operationsX86H" Source="..\samples\dokan_memfs\memfs_operations.h" Name="memfs_operations.h" KeyPath="no"/>
                  </Component>
                </Directory>
                <Directory Id="FUSEMIRRORX86DIR" Name="fuse_mirror">
                </Directory>
              </Directory>
            </Directory>
            <Directory Id="DRIVERDIR" Name="driver">
              <Component Id="Driver_x64" Guid="{87F2159C-3E84-4629-ACD9-A8EA07C84F6C}">
                <File Id="Driver_Sys" Source="..\x64\$(var.Configuration)\Driver\sys\dokan$(var.MajorVersion).sys" Name="dokan$(var.MajorVersion).sys" KeyPath="yes"/>
                <File Id="Driver_Cat" Source="..\x64\$(var.Configuration)\Driver\sys\dokan$(var.MajorVersion).cat" Name="dokan$(var.MajorVersion).cat" KeyPath="no"/>
                <File Id="Driver_Inf" Source="..\x64\$(var.Configuration)\Driver\sys\dokan.inf" Name="dokan.inf" KeyPath="no"/>
                <difx:Driver AddRemovePrograms="no" DeleteFiles="yes" Legacy="yes"/>
              </Component>
              <Component Id="Driver_x64pdb" Guid="{4BD9696D-0EE6-4305-8FF6-CA5885E62348}">
                <File Id="Driver_Syspdb" Source="..\x64\$(var.Configuration)\Driver\dokan$(var.MajorVersion).pdb" Name="dokan$(var.MajorVersion).pdb" KeyPath="yes"/>
              </Component>
            </Directory>
            <Directory Id="INCLUDEDIR" Name="include">
              <Directory Id="DOKANINCLUDEDIR" Name="dokan">
                <Component Id="IncludeDokanFilesComponent" Win64="yes" Guid="{7830FCFE-101A-49A9-BF04-DB8FBAC41EFD}">
                  <File Id="dokanH" Source="..\dokan\dokan.h" Name="dokan.h" KeyPath="yes"/>
                  <File Id="fileinfoH" Source="..\dokan\fileinfo.h" Name="fileinfo.h" KeyPath="no"/>
                  <File Id="publicH" Source="..\sys\public.h " Name="public.h" KeyPath="no"/>
                </Component>
              </Directory>
              <Component Id="IncludeFuseCompatFilesComponent" Win64="yes" Guid="{E9820CFD-7AB8-4953-94E2-76548605A626}">
                <File Id="fuse_include_H" Source="..\dokan_fuse\include\old\fuse.h" Name="fuse.h" KeyPath="yes"/>
              </Component>
              <Directory Id="FUSEINCLUDEDIR" Name="fuse">
                <Component Id="IncludeFuseFilesComponent" Win64="yes" Guid="{F483EFF5-700D-44AC-893B-650519BFFBFE}">
                  <File Id="fuseH" Source="..\dokan_fuse\include\fuse.h" Name="fuse.h" KeyPath="yes"/>
                  <File Id="fuse_commonH" Source="..\dokan_fuse\include\fuse_common.h" Name="fuse_common.h" KeyPath="no"/>
                  <File Id="fuse_optH" Source="..\dokan_fuse\include\fuse_opt.h" Name="fuse_opt.h" KeyPath="no"/>
                  <File Id="fuse_sem_fixH" Source="..\dokan_fuse\include\fuse_sem_fix.h" Name="fuse_sem_fix.h" KeyPath="no"/>
                  <File Id="fuse_winH" Source="..\dokan_fuse\include\fuse_win.h" Name="fuse_win.h" KeyPath="no"/>
                  <File Id="utilsH" Source="..\dokan_fuse\include\utils.h" Name="utils.h" KeyPath="no"/>
                </Component>
              </Directory>
            </Directory>
            <Directory Id="SAMPLEDIR" Name="sample">
              <Directory Id="MIRRORDIR" Name="mirror">
                <Component Id="SampleMirrorFilesComponent" Win64="yes" Guid="{F3DF60AD-3A7D-4678-91C9-097E561A8311}">
                  <File Id="mirrorEXE" Source="..\x64\$(var.Configuration)\mirror.exe" Name="mirror.exe" KeyPath="yes"/>
                  <File Id="dokanMirrorDLL" Source="..\x64\$(var.Configuration)\dokan$(var.MajorVersion).dll" Name="dokan$(var.MajorVersion).dll" KeyPath="no"/>
                  <File Id="dokan_mirrorvcxproj" Source="..\samples\dokan_mirror\dokan_mirror.vcxproj" Name="dokan_mirror.vcxproj" KeyPath="no"/>
                  <File Id="mirrorC" Source="..\samples\dokan_mirror\mirror.c" Name="mirror.c" KeyPath="no"/>
                </Component>
              </Directory>
              <Directory Id="MEMFSDIR" Name="memfs">
                <Component Id="SampleMemFSFilesComponent" Win64="yes" Guid="{F6487723-7E5B-4E8D-889D-C4B0ACEEA43D}">
                  <File Id="memfsEXE" Source="..\x64\$(var.Configuration)\memfs.exe" Name="memfs.exe" KeyPath="yes"/>
                  <File Id="dokanMemFSDLL" Source="..\x64\$(var.Configuration)\dokan$(var.MajorVersion).dll" Name="dokan$(var.MajorVersion).dll" KeyPath="no"/>
                  <File Id="dokan_memfsvcxproj" Source="..\samples\dokan_memfs\dokan_memfs.vcxproj" Name="dokan_memfs.vcxproj" KeyPath="no"/>
                  <File Id="filenodeCPP" Source="..\samples\dokan_memfs\filenode.cpp" Name="filenode.cpp" KeyPath="no"/>
                  <File Id="filenodeH" Source="..\samples\dokan_memfs\filenode.h" Name="filenode.h" KeyPath="no"/>
                  <File Id="filenodesCPP" Source="..\samples\dokan_memfs\filenodes.cpp" Name="filenodes.cpp" KeyPath="no"/>
                  <File Id="filenodesH" Source="..\samples\dokan_memfs\filenodes.h" Name="filenodes.h" KeyPath="no"/>
                  <File Id="mainCPP" Source="..\samples\dokan_memfs\main.cpp" Name="main.cpp" KeyPath="no"/>
                  <File Id="memfsCPP" Source="..\samples\dokan_memfs\memfs.cpp" Name="memfs.cpp" KeyPath="no"/>
                  <File Id="memfsH" Source="..\samples\dokan_memfs\memfs.h" Name="memfs.h" KeyPath="no"/>
                  <File Id="memfs_helperH" Source="..\samples\dokan_memfs\memfs_helper.h" Name="memfs_helper.h" KeyPath="no"/>
                  <File Id="memfs_operationsCPP" Source="..\samples\dokan_memfs\memfs_operations.cpp" Name="memfs_operations.cpp" KeyPath="no"/>
                  <File Id="memfs_operationsH" Source="..\samples\dokan_memfs\memfs_operations.h" Name="memfs_operations.h" KeyPath="no"/>
                </Component>
              </Directory>
              <Directory Id="FUSEMIRRORDIR" Name="fuse_mirror">
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="WindowsFolder" >
        <Directory Id="Sys32Folder" Name="System32">
          <Component Id="Sys32Files" Guid="{3A47A4F3-45ED-4E73-977B-D09426B5CDED}">
            <File Id="DokanSysDLL" Source="..\x64\$(var.Configuration)\dokan$(var.MajorVersion).dll" Name="dokan$(var.MajorVersion).dll" KeyPath="yes"/>
            <File Id="DokannpDLL" Source="..\x64\$(var.Configuration)\dokannp$(var.MajorVersion).dll" Name="dokannp$(var.MajorVersion).dll"/>
            <File Id="DokanfuseSysDLL" Source="..\x64\$(var.Configuration)\dokanfuse$(var.MajorVersion).dll" Name="dokanfuse$(var.MajorVersion).dll"/>
          </Component>
        </Directory>
        <Directory Id="Sys64Folder" Name="SysWOW64">
          <Component Id="SysWOW64Files" Guid="{DA6FE0D2-C4FE-4D6B-AC54-4823AC454FEE}">
            <File Id="DokanSysx86DLL" Source="..\Win32\$(var.Configuration)\dokan$(var.MajorVersion).dll" Name="dokan$(var.MajorVersion).dll" KeyPath="yes"/>
            <File Id="Dokannpx86DLL" Source="..\Win32\$(var.Configuration)\dokannp$(var.MajorVersion).dll" Name="dokannp$(var.MajorVersion).dll"/>
            <File Id="DokanfuseSysx86DLL" Source="..\Win32\$(var.Configuration)\dokanfuse$(var.MajorVersion).dll" Name="dokanfuse$(var.MajorVersion).dll"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="DokanDriverFeature" Title="Dokan Core" Description="Dokan driver, Dokan library and FUSE library" Level="1" Display="expand" Absent="disallow">
      <ComponentRef Id="ProgramFilesComponent"/>
      <ComponentRef Id="Driver_x64"/>
      <ComponentRef Id="Sys32Files"/>
      <ComponentRef Id="SysWOW64Files"/>
      <ComponentRef Id="X86PROGRAMFiles"/>
      <?if $(var.BuildCygwin)=true ?>
      <ComponentRef Id="ProgramFilesCygwinComponent" />
      <ComponentRef Id="X86CygwinFiles" />
      <?endif?>
    </Feature>
    <Feature Id="DokanDevFeature" Title="Development" Description="Dokan development files" Level="2" Display="expand">
      <Condition Level="1">INSTALLDEVFILES = 1</Condition>
      <Feature Id="DokanLibBFeature" Title="Headers and Libs" Description="Headers and libraries required for native User-Mode File System development" Level="2" Display="expand">
        <Condition Level="1">INSTALLDEVFILES = 1</Condition>
        <ComponentRef Id="IncludeDokanFilesComponent"/>
        <ComponentRef Id="IncludeFuseCompatFilesComponent"/>
        <ComponentRef Id="IncludeFuseFilesComponent"/>
        <ComponentRef Id="LibFilesComponent"/>
        <ComponentRef Id="LibX86FilesComponent"/>
        <ComponentRef Id="SampleMirrorFilesComponent"/>
        <ComponentRef Id="SampleMirrorFilesComponentX86"/>
        <ComponentRef Id="SampleMemFSFilesComponent"/>
        <ComponentRef Id="SampleMemFSFilesComponentX86"/>
        <?if $(var.BuildCygwin)=true ?>
        <ComponentRef Id="SampleFuseCygwinFilesComponentX86" />
        <ComponentRef Id="SampleFuseMirrorCygwinComponent" />
        <?endif?>
      </Feature>
      <Feature Id="DokanPDBFeature" Title="Symbols" Description="Dokan Core PDB debug files" Level="2" Display="expand">
        <Condition Level="1">INSTALLDEVFILES = 1</Condition>
        <ComponentRef Id="Driver_x64pdb"/>
        <ComponentRef Id="SysPDBFiles"/>
        <ComponentRef Id="SysX86PDBFiles"/>
      </Feature>
    </Feature>

    <!-- Define proper UI in case MSI is run without bootstrapper -->
    <UI Id="FeatureTree">
      <UIRef Id="WixUI_FeatureTree" />
      <Publish
          Dialog="WelcomeDlg"
          Control="Next"
          Event="NewDialog"
          Value="CustomizeDlg"
          Order="10">NOT Installed</Publish>
      <Publish
          Dialog="CustomizeDlg"
          Control="Back"
          Event="NewDialog"
          Value="WelcomeDlg"
          Order="10">NOT Installed</Publish>
    </UI>
  </Product>

  <Fragment>
    <Component Id="ProgramFilesCygwinComponent" Win64="yes" Guid="{282C8A27-E596-4828-A98F-D05F4735FC2F}" Directory="INSTALLDIR">
      <File Id="DokanfuseCygwinDLL" Source="..\x64\Cygwin\cygdokanfuse$(var.MajorVersion).dll" Name="cygdokanfuse$(var.MajorVersion).dll" KeyPath="yes"/>
      <File Id="DokanfuseMsys2DLL" Source="..\x64\Msys2\libdokanfuse$(var.MajorVersion).dll" Name="libdokanfuse$(var.MajorVersion).dll" KeyPath="no"/>
    </Component>
    <Component Id="X86CygwinFiles" Guid="{8E03853C-F8AB-47EC-A84A-E704AE980408}" Directory="X86PROGRAMSDIR">
      <File Id="X86DokanCygFuseDLL" Source="..\Win32\Cygwin\cygdokanfuse$(var.MajorVersion).dll" Name="cygdokanfuse$(var.MajorVersion).dll" KeyPath="yes"/>
      <File Id="X86DokanfuseMsys2DLL" Source="..\Win32\Msys2\libdokanfuse$(var.MajorVersion).dll" Name="libdokanfuse$(var.MajorVersion).dll" KeyPath="no"/>
    </Component>
    <Component Id="SampleFuseCygwinFilesComponentX86" Win64="yes" Guid="{CDF50D18-B6D8-4AF7-8565-637C9BBCE8A5}" Directory="FUSEMIRRORX86DIR">
      <File Id="fuseMirrorEXEX86" Source="..\Win32\Cygwin\mirror.exe" Name="mirror.exe" KeyPath="yes"/>
      <File Id="dokanFuseMirrorDLLX86" Source="..\Win32\$(var.Configuration)\dokan$(var.MajorVersion).dll" Name="dokan$(var.MajorVersion).dll" KeyPath="no"/>
      <File Id="dokanCygFuseMirrorDLLX86" Source="..\Win32\Cygwin\cygdokanfuse$(var.MajorVersion).dll" Name="cygdokanfuse$(var.MajorVersion).dll" KeyPath="no"/>
      <File Id="fuseMirrorX86C" Source="..\samples\fuse_mirror\fusexmp.c" Name="fusexmp.c" KeyPath="no"/>
    </Component>
    <Component Id="SampleFuseMirrorCygwinComponent" Win64="yes" Guid="{8021F81F-E5A4-4008-8769-767B7E15D119}" Directory="FUSEMIRRORDIR">
      <File Id="fuseMirrorEXE" Source="..\x64\Cygwin\mirror.exe" Name="mirror.exe" KeyPath="yes"/>
      <File Id="dokanFuseMirrorDLL" Source="..\x64\$(var.Configuration)\dokan$(var.MajorVersion).dll" Name="dokan$(var.MajorVersion).dll" KeyPath="no"/>
      <File Id="dokanCygFuseMirrorDLL" Source="..\x64\Cygwin\cygdokanfuse$(var.MajorVersion).dll" Name="cygdokanfuse$(var.MajorVersion).dll" KeyPath="no"/>
      <File Id="fuseMirrorC" Source="..\samples\fuse_mirror\fusexmp.c" Name="fusexmp.c" KeyPath="no"/>
    </Component>
  </Fragment>
</Wix>
