<?xml version="1.0" encoding="UTF-8"?>
<?include version.xml ?>

<?ifndef BuildCygwin ?>
<?define BuildCygwin="false" ?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:difx="http://schemas.microsoft.com/wix/DifxAppExtension">
  <Product Id="$(var.ProductCodeX86)"
           Name="$(var.ProductName) $(var.BaseVersion).$(var.BuildVersion) (x86)"
           Language="1033"
           Version="$(var.BaseVersion).$(var.BuildVersion)"
           Manufacturer="$(var.CompanyName)"
           UpgradeCode="$(var.UpgradeCodeX86)">

    <Package InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine"
             Platform="x86"
             InstallPrivileges="elevated"
             />
    <Icon Id="DokanIcon"
          SourceFile="Dokan.ico"
          />

    <Upgrade Id='$(var.UpgradeCodeX86)'>
      <UpgradeVersion
        OnlyDetect='no'
        Property='PREVIOUSFOUND'
        IgnoreRemoveFailure='no'
        Minimum='0.1.0' IncludeMinimum='yes'
        Maximum='$(var.BaseVersion)' IncludeMaximum='no'
      />
    </Upgrade>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                  AllowSameVersionUpgrades="yes"
                  DisallowUpgradeErrorMessage="A previous version of [ProductName] is already installed. Please uninstall the existing version first, reboot the system and start the setup again."
                  Disallow="yes"/>

    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="ARPPRODUCTICON" Value="DokanIcon" />
    <Property Id="MSIUNINSTALLSUPERSEDEDCOMPONENTS" Value="1" />
    <Property Id="INSTALLDEVFILES" Value="0" />

    <Property Id="WIN7KB4474419INSTALLED" Secure="yes">
      <DirectorySearch Id="searchSystem4" Path="[SystemFolder]" Depth="0">
        <FileSearch Id="WINTRUST_FileSearch"
                    Name="wintrust.dll"
                    MinVersion="6.1.7601.24381"/>
      </DirectorySearch>
    </Property>

    <Property Id="REGINSTALLDIR" Secure="yes">
      <RegistrySearch Id="RegInstallDirSearch"
                      Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.ProductCodeX86)"
                      Name="AppLocation"
                      Type="directory"
                      Win64="no" >
      </RegistrySearch>
    </Property>

    <Property Id="DOKANSYSALREADYINSTALLED" Secure="yes">
      <DirectorySearch Id="Dokan.sys" Path="[SystemFolder]\drivers">
        <FileSearch Name="dokan$(var.MajorVersion).sys" />
      </DirectorySearch>
    </Property>

    <Property Id="DOKANREBOOTPENDING" Secure="yes">
      <RegistrySearch Id="RegDokanRebootSearch"
                      Root="HKLM" Key="SYSTEM\ControlSet001\Services\Dokan$(var.MajorVersion)"
					            Name="DeleteFlag"
                      Type="raw"
                      Win64="no" >
      </RegistrySearch>
    </Property>

    <!--<Condition Message="Installation failed because another Dokan Library $(var.MajorVersion) is already installed."><![CDATA[Installed OR NOT DOKANSYSALREADYINSTALLED]]></Condition>-->

    <Condition Message="Installation failed because the 32-bit version of Dokan cannot be installed on a 64-bit version of Windows."><![CDATA[Installed OR NOT VersionNT64]]></Condition>
    <Condition Message="Installation failed because your version of Windows is too old. Dokan requires Windows 7 SP1 or newer."><![CDATA[Installed OR VersionNT > 601 OR (VersionNT = 601 AND ServicePackLevel >= 1)]]></Condition>
	<Condition Message="Installation failed because Microsoft patch KB4474419 is not installed. A reboot is needed between the installation of said patch and the installation of [ProductName]. https://support.microsoft.com/en-us/kb/4474419"><![CDATA[Installed OR VersionNT > 601 OR (VersionNT = 601 AND WIN7KB4474419INSTALLED)]]></Condition>

    <Binary Id="SetupCA2" SourceFile="WiXCA\bin\$(var.Configuration)\WiXCA.dll"/>

    <CustomAction Id='CheckForRebootPending' Error="Installation failed because a Windows reboot is still pending after a Dokan driver uninstall." />

    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLDIR]" />

    <CustomAction Id="SetFolderValue"
                  Return="check"
                  Property="ExecuteInstallAction"
                  Value="INSTALLFOLDER=[INSTALLDIR]"
                  />

    <CustomAction Id="GetInstallDir"
                  Return="check"
                  Property="INSTALLDIR"
                  Value="[REGINSTALLDIR]"
                  />

    <CustomAction Id="ExecuteInstallAction"
                BinaryKey="SetupCA2"
                DllEntry="ExecuteInstall"
                Execute="deferred"
                Return="check"
                Impersonate="no"
                />

    <CustomAction Id="SetUninstallFolderValue"
                  Return="check"
                  Property="ExecuteUninstallAction"
                  Value="INSTALLFOLDER=[INSTALLDIR]"
                  />

    <CustomAction Id="ExecuteUninstallAction"
                BinaryKey="SetupCA2"
                DllEntry="ExecuteUninstall"
                Execute="deferred"
                Return="check"
                Impersonate="no"
                />

    <InstallExecuteSequence>

      <Custom Action='CheckForRebootPending' Before='LaunchConditions'>
        <![CDATA[DOKANREBOOTPENDING = "#1"]]>
      </Custom>

      <Custom Action='GetInstallDir' Before='CostFinalize'><![CDATA[REMOVE="ALL"]]></Custom>
      <Custom Action="SetFolderValue" Before="ExecuteInstallAction" />
      <Custom Action='ExecuteInstallAction' After="PublishProduct"><![CDATA[Not REMOVE="ALL"]]></Custom>
      <Custom Action="SetUninstallFolderValue" Before="ExecuteUninstallAction" />
      <Custom Action='ExecuteUninstallAction' Before="RemoveFiles"><![CDATA[REMOVE="ALL"]]></Custom>
      <Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>

    </InstallExecuteSequence>

    <Media Id="1" Cabinet="Dokan.cab" EmbedCab="yes"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="DOKANDIR" Name="Dokan">
          <Directory Id="INSTALLDIR" Name="DokanLibrary-$(var.BaseVersion)">
            <Component Id="ProgramFilesComponent" Win64="no" Guid="{8041BCE6-160A-4A26-94FF-31A2A903230A}">
              <Environment Id="DokanLibraryEnvPath" Name="DokanLibrary$(var.MajorVersion)" Value="[INSTALLDIR]" Permanent="no" Part="all" Action="set" System="yes" />
              <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\$(var.ProductCodeX86)" >
                <RegistryValue Type="string" Name="AppLocation" Value="[INSTALLDIR]" KeyPath="no" />
              </RegistryKey>
              <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\$(var.ProductCodeX86)" >
                <RegistryValue Type="string" Name="FullVersion" Value="$(var.BaseVersion).$(var.BuildVersion)" KeyPath="no"/>
              </RegistryKey>
              <File Id="DokanDLL" Source="..\Win32\$(var.Configuration)\dokan$(var.MajorVersion).dll" Name="dokan$(var.MajorVersion).dll" KeyPath="no"/>
              <File Id="DokanfuseDLL" Source="..\Win32\$(var.Configuration)\dokanfuse$(var.MajorVersion).dll" Name="dokanfuse$(var.MajorVersion).dll" KeyPath="no"/>
              <File Id="dokanctlEXE" Source="..\Win32\$(var.Configuration)\dokanctl.exe" Name="dokanctl.exe" KeyPath="no"/>
              <File Id="READMEurl" Source="README.url" Name="README.url" KeyPath="no"/>
              <File Id="licenselgplTXT" Source="..\license.lgpl.txt" Name="license.lgpl.txt" KeyPath="no"/>
              <File Id="licensemitTXT" Source="..\license.mit.txt" Name="license.mit.txt" KeyPath="no"/>
              <RemoveFolder Id="RemoveINSTALLDIR" On="uninstall" />
            </Component>
            <Component Id="Sys32PDBFiles" Guid="{059680E5-A328-4254-A5D6-86BBB0BD7911}">
              <File Id="DokanPDB" Source="..\Win32\$(var.Configuration)\dokan$(var.MajorVersion).pdb" Name="dokan$(var.MajorVersion).pdb" KeyPath="yes"/>
              <File Id="DokanfusePDB" Source="..\Win32\$(var.Configuration)\dokanfuse$(var.MajorVersion).pdb" Name="dokanfuse$(var.MajorVersion).pdb" KeyPath="no"/>
              <File Id="DokannpPDB" Source="..\Win32\$(var.Configuration)\dokannp$(var.MajorVersion).pdb" Name="dokannp$(var.MajorVersion).pdb" KeyPath="no"/>
            </Component>
            <Directory Id="DRIVERDIR" Name="driver">
              <Component Id="Driver_Win32" Guid="{918BC4D2-755C-4E18-BAEB-13EBC58FE260}">
                <File Id="Driver_Sys" Source="..\Win32\$(var.Configuration)\Driver\sys\dokan$(var.MajorVersion).sys" Name="dokan$(var.MajorVersion).sys" KeyPath="yes"/>
                <File Id="Driver_Cat" Source="..\Win32\$(var.Configuration)\Driver\sys\dokan$(var.MajorVersion).cat" Name="dokan$(var.MajorVersion).cat" KeyPath="no"/>
                <File Id="Driver_Inf" Source="..\Win32\$(var.Configuration)\Driver\sys\dokan.inf" Name="dokan.inf" KeyPath="no"/>
                <difx:Driver AddRemovePrograms="no" DeleteFiles="yes" Legacy="yes"/>
              </Component>
              <Component Id="Driver_Win32pdb" Guid="{68920BC6-D80C-4CB3-969C-1E7BFDBF3056}">
                <File Id="Driver_Syspdb" Source="..\Win32\$(var.Configuration)\Driver\dokan$(var.MajorVersion).pdb" Name="dokan$(var.MajorVersion).pdb" KeyPath="yes"/>
              </Component>
            </Directory>
            <Directory Id="INCLUDEDIR" Name="include">
              <Directory Id="DOKANINCLUDEDIR" Name="dokan">
                <Component Id="IncludeDokanFilesComponent" Win64="no" Guid="{E493EAB3-2577-4C79-A051-E3AFC332F066}">
                  <File Id="dokanH" Source="..\dokan\dokan.h" Name="dokan.h" KeyPath="yes"/>
                  <File Id="fileinfoH" Source="..\dokan\fileinfo.h" Name="fileinfo.h" KeyPath="no"/>
                  <File Id="publicH" Source="..\sys\public.h " Name="public.h" KeyPath="no"/>
                </Component>
              </Directory>
              <Component Id="IncludeFuseCompatFilesComponent" Win64="no" Guid="{14ABEE64-1ACE-4908-8D20-A84CD6E87053}">
                <File Id="fuse_include_H" Source="..\dokan_fuse\include\old\fuse.h" Name="fuse.h" KeyPath="yes"/>
              </Component>
              <Directory Id="FUSEINCLUDEDIR" Name="fuse">
                <Component Id="IncludeFuseFilesComponent" Win64="no" Guid="{23D52DE0-55DF-4835-9C0C-3E2AAA987AD3}">
                  <File Id="fuseH" Source="..\dokan_fuse\include\fuse.h" Name="fuse.h" KeyPath="yes"/>
                  <File Id="fuse_commonH" Source="..\dokan_fuse\include\fuse_common.h" Name="fuse_common.h" KeyPath="no"/>
                  <File Id="fuse_optH" Source="..\dokan_fuse\include\fuse_opt.h" Name="fuse_opt.h" KeyPath="no"/>
                  <File Id="fuse_sem_fixH" Source="..\dokan_fuse\include\fuse_sem_fix.h" Name="fuse_sem_fix.h" KeyPath="no"/>
                  <File Id="fuse_winH" Source="..\dokan_fuse\include\fuse_win.h" Name="fuse_win.h" KeyPath="no"/>
                  <File Id="utilsH" Source="..\dokan_fuse\include\utils.h" Name="utils.h" KeyPath="no"/>
                </Component>
              </Directory>
            </Directory>
            <Directory Id="LIBDIR" Name="lib">
              <Component Id="LibFilesComponent" Win64="no" Guid="{52C09B1A-9E0F-4939-A32E-0AD4EDE4D7DE}">
                <Environment Id="DokanLibraryLibx86EnvPath" Name="DokanLibrary$(var.MajorVersion)_LibraryPath_x86" Value="[LIBDIR]" Permanent="no" Part="all" Action="set" System="yes" />
                <File Id="dokanLIB" Source="..\Win32\$(var.Configuration)\dokan$(var.MajorVersion).lib" Name="dokan$(var.MajorVersion).lib" KeyPath="yes"/>
                <File Id="dokanfuseLIB" Source="..\Win32\$(var.Configuration)\dokanfuse$(var.MajorVersion).lib" Name="dokanfuse$(var.MajorVersion).lib" KeyPath="no"/>
                <File Id="dokannpLIB" Source="..\Win32\$(var.Configuration)\dokannp$(var.MajorVersion).lib" Name="dokannp$(var.MajorVersion).lib" KeyPath="no"/>
              </Component>
            </Directory>
            <Directory Id="SAMPLEDIR" Name="sample">
              <Directory Id="MIRRORDIR" Name="mirror">
                <Component Id="SampleMirrorFilesComponent" Win64="no" Guid="{226E42DF-CF84-4771-A59C-8F1818ADBCE5}">
                  <File Id="mirrorEXE" Source="..\Win32\$(var.Configuration)\mirror.exe" Name="mirror.exe" KeyPath="yes"/>
                  <File Id="dokanMirrorDLL" Source="..\Win32\$(var.Configuration)\dokan$(var.MajorVersion).dll" Name="dokan$(var.MajorVersion).dll" KeyPath="no"/>
                  <File Id="dokan_mirrorvcxproj" Source="..\samples\dokan_mirror\dokan_mirror.vcxproj" Name="dokan_mirror.vcxproj" KeyPath="no"/>
                  <File Id="mirrorC" Source="..\samples\dokan_mirror\mirror.c" Name="mirror.c" KeyPath="no"/>
                </Component>
              </Directory>
              <Directory Id="MEMFSDIR" Name="memfs">
                <Component Id="SampleMemFSFilesComponent" Win64="no" Guid="{1F35A0DD-BB05-4C15-8EE8-B1C3FC3FDD27}">
                  <File Id="memfsEXE" Source="..\Win32\$(var.Configuration)\memfs.exe" Name="memfs.exe" KeyPath="yes"/>
                  <File Id="dokanMemFSDLL" Source="..\Win32\$(var.Configuration)\dokan$(var.MajorVersion).dll" Name="dokan$(var.MajorVersion).dll" KeyPath="no"/>
                  <File Id="dokan_memfsvcxproj" Source="..\samples\dokan_memfs\dokan_memfs.vcxproj" Name="dokan_memfs.vcxproj" KeyPath="no"/>
                  <File Id="filenodeCPP" Source="..\samples\dokan_memfs\filenode.cpp" Name="filenode.cpp" KeyPath="no"/>
                  <File Id="filenodeH" Source="..\samples\dokan_memfs\filenode.h" Name="filenode.h" KeyPath="no"/>
                  <File Id="filenodesCPP" Source="..\samples\dokan_memfs\filenodes.cpp" Name="filenodes.cpp" KeyPath="no"/>
                  <File Id="filenodesH" Source="..\samples\dokan_memfs\filenodes.h" Name="filenodes.h" KeyPath="no"/>
                  <File Id="mainCPP" Source="..\samples\dokan_memfs\main.cpp" Name="main.cpp" KeyPath="no"/>
                  <File Id="memfsCPP" Source="..\samples\dokan_memfs\memfs.cpp" Name="memfs.cpp" KeyPath="no"/>
                  <File Id="memfsH" Source="..\samples\dokan_memfs\memfs.h" Name="memfs.h" KeyPath="no"/>
                  <File Id="memfs_helperH" Source="..\samples\dokan_memfs\memfs_helper.h" Name="memfs_helper.h" KeyPath="no"/>
                  <File Id="memfs_operationsCPP" Source="..\samples\dokan_memfs\memfs_operations.cpp" Name="memfs_operations.cpp" KeyPath="no"/>
                  <File Id="memfs_operationsH" Source="..\samples\dokan_memfs\memfs_operations.h" Name="memfs_operations.h" KeyPath="no"/>
                </Component>
              </Directory>
              <Directory Id="FUSEMIRRORDIR" Name="fuse_mirror">
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="WindowsFolder" >
        <Directory Id="Sys32Folder" Name="System32">
          <Component Id="Sys32Files" Guid="{CF6199EC-D177-4DAB-938D-8AD01D01816E}">
            <File Id="DokanSysDLL" Source="..\Win32\$(var.Configuration)\dokan$(var.MajorVersion).dll" Name="dokan$(var.MajorVersion).dll" KeyPath="yes"/>
            <File Id="DokannpDLL" Source="..\Win32\$(var.Configuration)\dokannp$(var.MajorVersion).dll" Name="dokannp$(var.MajorVersion).dll"/>
            <File Id="DokanfuseSysDLL" Source="..\Win32\$(var.Configuration)\dokanfuse$(var.MajorVersion).dll" Name="dokanfuse$(var.MajorVersion).dll"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="DokanDriverFeature" Title="Dokan Core" Description="Dokan driver, Dokan library and FUSE library" Level="1" Display="expand" Absent="disallow">
      <ComponentRef Id="ProgramFilesComponent"/>
      <ComponentRef Id="Driver_Win32"/>
      <ComponentRef Id="Sys32Files"/>
      <?if $(var.BuildCygwin)=true ?>
      <ComponentRef Id="ProgramFilesCygwinComponent" />
      <?endif?>
    </Feature>
    <Feature Id="DokanDevFeature" Title="Development" Description="Dokan development files" Level="2" Display="expand">
      <Condition Level="1">INSTALLDEVFILES = 1</Condition>
      <Feature Id="DokanLibBFeature" Title="Headers and Libs" Description="Headers and libraries required for native User-Mode File System development" Level="2" Display="expand">
        <Condition Level="1">INSTALLDEVFILES = 1</Condition>
        <ComponentRef Id="IncludeDokanFilesComponent"/>
        <ComponentRef Id="IncludeFuseCompatFilesComponent"/>
        <ComponentRef Id="IncludeFuseFilesComponent"/>
        <ComponentRef Id="LibFilesComponent"/>
        <ComponentRef Id="SampleMirrorFilesComponent"/>
        <ComponentRef Id="SampleMemFSFilesComponent"/>
        <?if $(var.BuildCygwin)=true ?>
        <ComponentRef Id="SampleFuseMirrorCygwinComponent" />
        <?endif?>
      </Feature>
      <Feature Id="DokanPDBFeature" Title="Symbols" Description="Dokan Core PDB debug files" Level="2" Display="expand">
        <Condition Level="1">INSTALLDEVFILES = 1</Condition>
        <ComponentRef Id="Driver_Win32pdb"/>
        <ComponentRef Id="Sys32PDBFiles"/>
      </Feature>
    </Feature>

    <!-- Define proper UI in case MSI is run without bootstrapper -->
    <UI Id="FeatureTree">
      <UIRef Id="WixUI_FeatureTree" />
      <Publish
          Dialog="WelcomeDlg"
          Control="Next"
          Event="NewDialog"
          Value="CustomizeDlg"
          Order="10">NOT Installed</Publish>
      <Publish
          Dialog="CustomizeDlg"
          Control="Back"
          Event="NewDialog"
          Value="WelcomeDlg"
          Order="10">NOT Installed</Publish>
    </UI>
  </Product>

  <Fragment>
    <Component Id="ProgramFilesCygwinComponent" Win64="no" Guid="{3057CA21-B7D8-4820-AF64-B41C37164EC2}" Directory="INSTALLDIR">
      <File Id="X86DokanCygFuseDLL" Source="..\Win32\Cygwin\cygdokanfuse$(var.MajorVersion).dll" Name="cygdokanfuse$(var.MajorVersion).dll" KeyPath="yes"/>
      <File Id="X86DokanfuseMsys2DLL" Source="..\Win32\Msys2\libdokanfuse$(var.MajorVersion).dll" Name="libdokanfuse$(var.MajorVersion).dll" KeyPath="no"/>
    </Component>
    <Component Id="SampleFuseMirrorCygwinComponent" Win64="no" Guid="{0B87835E-B47E-401C-86BB-857E41D76B57}" Directory="FUSEMIRRORDIR">
      <File Id="fuseMirrorEXE" Source="..\Win32\Cygwin\mirror.exe" Name="mirror.exe" KeyPath="yes"/>
      <File Id="dokanFuseMirrorDLL" Source="..\Win32\$(var.Configuration)\dokan$(var.MajorVersion).dll" Name="dokan$(var.MajorVersion).dll" KeyPath="no"/>
      <File Id="dokanCygFuseMirrorDLL" Source="..\Win32\Cygwin\cygdokanfuse$(var.MajorVersion).dll" Name="cygdokanfuse$(var.MajorVersion).dll" KeyPath="no"/>
      <File Id="fuseMirrorC" Source="..\samples\fuse_mirror\fusexmp.c" Name="fusexmp.c" KeyPath="no"/>
    </Component>
  </Fragment>
</Wix>
