<?xml version="1.0" encoding="UTF-8"?>
<?include ..\version.xml ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:dep='http://schemas.microsoft.com/wix/DependencyExtension'
     xmlns:util='http://schemas.microsoft.com/wix/UtilExtension'
     xmlns:netfx='http://schemas.microsoft.com/wix/NetFxExtension'
>
    <Bundle Name="$(var.ProductName) $(var.BaseVersion).$(var.BuildVersion) Bundle"
            IconSourceFile="..\dokan.ico"
            Version="$(var.BaseVersion).$(var.BuildVersion)"
            Manufacturer="$(var.CompanyName)"
            dep:ProviderKey="$(var.ProviderKey)"
            UpgradeCode="$(var.BundleUpgradeCode)"
            UpdateUrl="$(var.UpdateURL)"
            DisableModify="yes"
            >
      <util:FileSearchRef Id='WINTRUST_FileSearch' />
      <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
        <bal:WixStandardBootstrapperApplication
          LicenseFile="Resources\licdata.rtf"
          LogoFile="Resources\dokan.png"
          ShowVersion="yes"
          SuppressOptionsUI="no"
          SuppressRepair="yes"
          ThemeFile="Resources\RtfTheme.xml"
          LocalizationFile="Resources\1033\RtfTheme.wxl"/>
        <Payload Name="Resources\1033\RtfTheme.wxl" SourceFile="Resources\1033\RtfTheme.wxl" />
        <Payload Name="redist\Netfx_eula40.rtf" SourceFile="Resources\Netfx_eula40.rtf" />

      </BootstrapperApplicationRef>

    <Variable Name="InstallFolder" Type="string" Value="[ProgramFiles6432Folder]Dokan\Dokan Library-$(var.BaseVersion)"/>
    <Variable Name="CommandLineArgument" bal:Overridable="yes"/>

    <util:FileSearch Id="SearchSystem"
                     Path="[SystemFolder]advapi32.dll"
                     Variable="ADVAPIVERSION"
                     Result="version" 
                     />

    <util:FileSearch Id="SearchSystem2"
                     Path="[SystemFolder]ucrtbase.dll"
                     Variable="UCRTVERSION"
                     Result="version" 
                     />

      <util:FileSearch Id="SearchSystem3"
                       Path="[WindowsFolder]System32\ucrtbase.dll"
                       Variable="UCRTVERSION64"
                       Result="version" 
                       />

    <util:RegistrySearch Id="vcredist_2015_x86_check" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\VC\Servicing\14.0\RuntimeMinimum" Value="Install" Variable="vcredist_2015_x86_installed" Win64="no"/>
    <util:RegistrySearch Id="vcredist_2015_x86_versioncheck" Root="HKLM" Key="SOFTWARE\Classes\Installer\Dependencies\Microsoft.VS.VC_RuntimeMinimumVSU_x86,v14" Value="Version" Variable="vcredist_2015_x86_version" Result="exists" Win64="no"/>
    <util:RegistrySearch Id="vcredist_2015_x86_versionnumbercheck" Root="HKLM" Key="SOFTWARE\Classes\Installer\Dependencies\Microsoft.VS.VC_RuntimeMinimumVSU_x86,v14" Value="Version" Variable="vcredist_2015_x86_versionnumber" Result="value" Win64="no"/>

    <util:RegistrySearch Id="vcredist_2015_x64_check" Root="HKLM" Key="SOFTWARE\Microsoft\DevDiv\VC\Servicing\14.0\RuntimeMinimum" Value="Install" Variable="vcredist_2015_x64_installed" Win64="yes"/>
    <util:RegistrySearch Id="vcredist_2015_x64_versioncheck" Root="HKLM" Key="SOFTWARE\Classes\Installer\Dependencies\Microsoft.VS.VC_RuntimeMinimumVSU_amd64,v14" Value="Version" Variable="vcredist_2015_x64_version" Result="exists" Win64="yes"/>
    <util:RegistrySearch Id="vcredist_2015_x64_versionnumbercheck" Root="HKLM" Key="SOFTWARE\Classes\Installer\Dependencies\Microsoft.VS.VC_RuntimeMinimumVSU_amd64,v14" Value="Version" Variable="vcredist_2015_x64_versionnumber" Result="value" Win64="yes"/>

    <bal:Condition Message="Installation failed because your version of Windows is too old. Dokan requires Windows 7 SP1 or newer."><![CDATA[Installed OR VersionNT > v6.1 OR (VersionNT = v6.1 AND ServicePackLevel >= 1)]]></bal:Condition>
    <Chain>
      <PackageGroupRef Id="NetFx40Web"/>
      
      <ExePackage Id="vcredist_2015_x86.exe"
                  Name="vc_redist.x86.exe"
                  InstallCommand="/norestart /q /chainingpackage ADMINDEPLOYMENT"
                  RepairCommand="/norestart /q /chainingpackage ADMINDEPLOYMENT"
                  UninstallCommand="/norestart /q /chainingpackage ADMINDEPLOYMENT"
                  Protocol="netfx4"
                  Compressed="$(var.Compressed)"
                  Permanent="yes"
                  DetectCondition="vcredist_2015_x86_installed AND vcredist_2015_x86_version AND vcredist_2015_x86_versionnumber &gt;= v14.0.23918"
                  PerMachine="yes"
                  Vital="yes"
                  Cache="no"
                  SuppressSignatureVerification="yes"
                  SourceFile="Redist\VCRedist_2015\vc_redist.x86.exe"
                  DownloadUrl="https://download.microsoft.com/download/2/6/8/268f7be7-8d2a-42d6-a823-5c6941a3d70a/vc_redist.x86.exe"
      />

      <ExePackage Id="vcredist_2015_x64.exe"
                  Name="vc_redist.x64.exe"
                  InstallCommand="/norestart /q /chainingpackage ADMINDEPLOYMENT"
                  RepairCommand="/norestart /q /chainingpackage ADMINDEPLOYMENT"
                  UninstallCommand="/norestart /q /chainingpackage ADMINDEPLOYMENT"
                  Protocol="netfx4"
                  Compressed="$(var.Compressed)"
                  Permanent="yes"
                  InstallCondition="VersionNT64"
                  DetectCondition="vcredist_2015_x64_installed AND vcredist_2015_x64_version AND vcredist_2015_x64_versionnumber &gt;= v14.0.23918"
                  PerMachine="yes"
                  Vital="yes"
                  Cache="yes"
                  SuppressSignatureVerification="yes"
                  SourceFile="Redist\VCRedist_2015\vc_redist.x64.exe"
                  DownloadUrl="https://download.microsoft.com/download/6/3/a/63abaf83-2ca6-4460-90d7-12de8e815b1a/vc_redist.x64.exe"
                  />

      <MsuPackage Id="Win71_KB2999226_x86"
                  Name="Windows6.1-KB2999226-x86.msu"
                  Compressed="$(var.Compressed)"
                  Permanent="yes"
                  InstallCondition="NOT VersionNT64 AND VersionNT = v6.1"
                  DetectCondition="UCRTVERSION &gt;= v6.2.10585.0"
                  Vital="yes"
                  Cache="no"
                  SuppressSignatureVerification="yes"
                  SourceFile="Redist\KB2999226\Windows6.1-KB2999226-x86.msu"
                  DownloadUrl="https://download.microsoft.com/download/4/F/E/4FE73868-5EDD-4B47-8B33-CE1BB7B2B16A/Windows6.1-KB2999226-x86.msu"
                  />

      <MsuPackage Id="Win71_KB2999226_x64"
                  Name="Windows6.1-KB2999226-x64.msu"
                  Compressed="$(var.Compressed)"
                  Permanent="yes"
                  InstallCondition="VersionNT64 AND VersionNT = v6.1"
                  DetectCondition="UCRTVERSION64 &gt;= v6.2.10585.0"
                  Vital="yes"
                  Cache="no"
                  SuppressSignatureVerification="yes"
                  SourceFile="Redist\KB2999226\Windows6.1-KB2999226-x64.msu"
                  DownloadUrl="https://download.microsoft.com/download/1/1/5/11565A9A-EA09-4F0A-A57E-520D5D138140/Windows6.1-KB2999226-x64.msu"
                  />

      <MsuPackage Id="Win80_KB2999226_x86"
                  Name="Windows8-RT-KB2999226-x86.msu"
                  Compressed="$(var.Compressed)"
                  Permanent="yes"
                  InstallCondition="NOT VersionNT64 AND VersionNT = v6.2"
                  DetectCondition="UCRTVERSION &gt;= v6.2.10585.0"
                  Vital="yes"
                  Cache="no"
                  SuppressSignatureVerification="yes"
                  SourceFile="Redist\KB2999226\Windows8-RT-KB2999226-x86.msu"
                  DownloadUrl="https://download.microsoft.com/download/1/E/8/1E8AFE90-5217-464D-9292-7D0B95A56CE4/Windows8-RT-KB2999226-x86.msu"
                  />

      <MsuPackage Id="Win80_KB2999226_x64"
                  Name="Windows8-RT-KB2999226-x64.msu"
                  Compressed="$(var.Compressed)"
                  Permanent="yes"
                  InstallCondition="VersionNT64 AND VersionNT = v6.2"
                  DetectCondition="UCRTVERSION64 &gt;= v6.2.10585.0"
                  Vital="yes"
                  Cache="no"
                  SuppressSignatureVerification="yes"
                  SourceFile="Redist\KB2999226\Windows8-RT-KB2999226-x64.msu"
                  DownloadUrl="https://download.microsoft.com/download/A/C/1/AC15393F-A6E6-469B-B222-C44B3BB6ECCC/Windows8-RT-KB2999226-x64.msu"
                  />

      <MsuPackage Id="Win81_KB2999226_x86"
                  Name="Windows8.1-KB2999226-x86.msu"
                  Compressed="$(var.Compressed)"
                  Permanent="yes"
                  InstallCondition="NOT VersionNT64 AND VersionNT &gt;= v6.3 AND ADVAPIVERSION &lt; v6.3.10000.0"
                  DetectCondition="UCRTVERSION &gt;= v6.2.10585.0"
                  Vital="yes"
                  Cache="no"
                  SuppressSignatureVerification="yes"
                  SourceFile="Redist\KB2999226\Windows8.1-KB2999226-x86.msu"
                  DownloadUrl="https://download.microsoft.com/download/E/4/6/E4694323-8290-4A08-82DB-81F2EB9452C2/Windows8.1-KB2999226-x86.msu"
                  />

      <MsuPackage Id="Win81_KB2999226_x64"
                  Name="Windows8.1-KB2999226-x64.msu"
                  Compressed="$(var.Compressed)"
                  Permanent="yes"
                  InstallCondition="VersionNT64 AND VersionNT &gt;= v6.3 AND ADVAPIVERSION &lt; v6.3.10000.0"
                  DetectCondition="UCRTVERSION64 &gt;= v6.2.10585.0"
                  Vital="yes"
                  Cache="no"
                  SuppressSignatureVerification="yes"
                  SourceFile="Redist\KB2999226\Windows8.1-KB2999226-x64.msu"
                  DownloadUrl="https://download.microsoft.com/download/9/6/F/96FD0525-3DDF-423D-8845-5F92F4A6883E/Windows8.1-KB2999226-x64.msu"
                  />
      
      <MsiPackage SourceFile="..\bin\x86\$(var.Configuration)\Dokan_x86.msi" 
                  InstallCondition="NOT VersionNT64"
                  Compressed="yes"
                  Visible="no"
                  >
        <!--<MsiProperty Name="ADDLOCAL" Value="ALL" />-->
        <MsiProperty Name="MSIUNINSTALLSUPERSEDEDCOMPONENTS" Value="1"/>
        <MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
        <MsiProperty Name="INSTALLDEVFILES" Value="[DevFilesCheckbox]" />
      </MsiPackage>

      <MsiPackage SourceFile="..\bin\x64\$(var.Configuration)\Dokan_x64.msi"
                  InstallCondition="VersionNT64"
                  Compressed="yes"
                  Visible="no"
                  >
        <!--<MsiProperty Name="ADDLOCAL" Value="ALL" />-->
        <MsiProperty Name="MSIUNINSTALLSUPERSEDEDCOMPONENTS" Value="1"/>
        <MsiProperty Name="INSTALLDIR" Value="[InstallFolder]" />
        <MsiProperty Name="INSTALLDEVFILES" Value="[DevFilesCheckbox]" />
      </MsiPackage>

    </Chain>
	</Bundle>
  <Fragment>
    <util:FileSearch Id="WINTRUST_FileSearch"
                     Path="[SystemFolder]Wintrust.dll"
                     Variable="WINTRUSTVERSION"
                     Result="version"
                     />
    <!-- check for GDR/LDR version. See https://github.com/dokan-dev/dokany/commit/9782a6491775ef3660a71f40f381d3f48e511f14 -->
    <bal:Condition
      Message="Microsoft patch KB3033929 is not installed. A reboot is needed between the installation of said patch and the installation of $(var.ProductName). https://support.microsoft.com/en-us/kb/3033929">
      <![CDATA[Installed OR VersionNT > v6.1 OR (VersionNT = v6.1 AND ((WINTRUSTVERSION >= v6.1.7601.18741 AND WINTRUSTVERSION < v6.1.7601.22000) OR WINTRUSTVERSION >= v6.1.7601.22948))]]>
    </bal:Condition>
  </Fragment>
</Wix>
